<% provide(:title, "Sign up for beta access") %>
				<div id="intro" class="clearFix">
				<p>Write a little something about your project here. A little hype. C'mon, get us all excited about what you're working on! You should describe the two types of people you're looking attract to your project and lead them to the buttons below. When they click a button, their particular email submission field will be revealed. Swanky.</p>
			</div>
	<%= render 'users/fan_form' %>
	<%= render 'users/artist_form' %>
	