<% provide(:title, "Thank you!") %>
<%= render 'layouts/facebookscript' %>
<%= render 'layouts/twitterscript' %>
<a href="https://goo.gl/SaRJ8u">
  <button>Take the survey</button>
</a>
<div id="success">
  <p><strong>Success!</strong></p>
  <p>Thank your awesome new people</p>
  <p>Tell them to share for early access!</p>
</div>
<div class="sharebuttons">
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://backsta.gr" 
    data-text="Artists and fans deserve better from the music industry. I'm working with @backstagr to fix that. Join us! #music">Tweet</a>
  <div class="fb-like" data-href="http://backsta.gr" data-send="true" data-width="450" data-show-faces="true" data-action="recommend"></div>
</div>
