<% provide(:title, "Thank you!") %>
<%= render 'layouts/facebookscript' %>
<section>
<h3>Success!</h3>
<h4>We can make this happen, but we need your help</h4>
<h5>This project was started by musicians and music lovers and will derive success from all of our efforts.
Share with your friends and favourite musicians to get early access.</h5>
</section>
	<div class="sharebuttons">
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://backsta.gr" 
				data-text="Artists and fans deserve better from the music industry. I'm working with @backstagr to fix that. Join us! #music">Tweet</a>
		<div class="fb-like" data-href="http://backsta.gr" data-send="true" data-width="450" data-show-faces="true" data-action="recommend"></div>
	</div>
