@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: c1c1c1;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
