<header class="launch">
		<div class="container">
			<nav>
				<ul>
					<li><%= link_to "Blog", "http://blog.backsta.gr", class: "btn btn-info" %></li>
					<li><a href="https://twitter.com/backstagr" class="twitter-follow-button" data-show-count="false">Follow @backstagr</a></li>
				</ul>
			</nav>
		</div>
</header>