<header class="launch">
		<div class="container">
			<nav>
				<ul>
					<li><%= link_to "Blog", "http://blog.backsta.gr" %></li>
					<li><%= link_to "@backstagr", "http://twitter.com/backstagr" %></li>
				</ul>
			</nav>
		</div>
</header>